@model AddUpdateCategoryPageVM


@{
    ViewBag.Title = "AddCategory";
}

@using (Html.BeginForm())
{
      <div>
          @Html.TextBoxFor(x=>x.Category.CategoryName)
      </div>

      <div>
          @Html.TextBoxFor(x=>x.Category.Description)
      </div>
      <div>
          <button class="btn btn-success">Ekle</button>
      </div>
}

